{%- import_yaml "telegraf/default_config.yml" as config %}
{% do salt['defaults.merge'](config, salt['pillar.get']('telegraf:config', {})) %}

{%- set lookup = salt['grains.filter_by']({
    'Debian': {
        'package': 'telegraf',
        'package_toml_py2': 'python-pytoml',
        'package_toml_py3': 'python3-pytoml',
        'config_file': '/etc/telegraf/telegraf.conf',
        'group': 'telegraf',
        'service': 'telegraf',
    },
}, merge=salt['pillar.get']('telegraf:lookup')) %}
{% if 'package_toml' not in lookup %}
{%   if grains.get('pythonversion', [2])[0] == 3 %}
{%     do lookup.update({'package_toml': lookup['package_toml_py3']}) %}
{%   else %}
{%     do lookup.update({'package_toml': lookup['package_toml_py2']}) %}
{%   endif %}
{% endif %}

{% set data = {
    'config': config,
    'lookup': lookup,
} %}
