{%- import_yaml "telegraf/default_config.yml" as config %}
{% do salt['defaults.merge'](config, salt['pillar.get']('telegraf:config', {})) %}

{%- set lookup = salt['grains.filter_by']({
    'Debian': {
        'package': 'telegraf',
        'package_toml': 'python-pytoml',
        'config_file': '/etc/telegraf/telegraf.conf',
        'group': 'telegraf',
        'service': 'telegraf',
    },
}, merge=salt['pillar.get']('telegraf:lookup')) %}

{% set data = {
    'config': config,
    'lookup': lookup,
} %}
